@using ColleageInnerTraining.Common
@using ColleageInnerTraining.Common.Utils
@using ColleageInnerTraining.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.Taget;
    ViewBag.MenuId = PageNames.ManagemnetKey.Taget;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })
<div class="content fr">
    <div class="rightTop">
        <p>标签管理</p>
        <ul class="subnav">
            <li>
                <a class="btn btn_yanhse" href="javascript:" onclick="add()">新增</a>
            </li>
        </ul>
    </div>
    <div id="dataListDiv">
        @Html.Action("GetDataList")
    </div>
</div>
<div class="clearfix"></div>
<script src="~/Areas/Admin/Views/Tagets/index.js?t=@DateTime.Now"></script>
