@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Wap.Models.ExamViewModel
@{
    ViewBag.CurrentPageName = PageNames.Wap.Exam; //页面路径
}
<div class="w exam_nav bgbai tab"> 
</div>
<div class="w exam_con">
    <div class="exam_section">
        <p>考  试  项：设计部3月月考核</p>
        <p>考试时间：3/28-3/30</p>
        <p>考试地点：国资商城53栋3楼</p>
        <p>考试部门：设计部</p>
        <p>状　　态：预考中</p>
        <a href="javascript:history.back();" class="btn btn_yanse">反回</a>
    </div>
</div>