@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@using ColleageInnerTraining.Common
@model ColleageInnerTraining.Web.Areas.Wap.Models.HomeViewModel
@{
    ViewBag.CurrentPageName = PageNames.Wap.Member; //页面路径
}

<div class="w exam_nav bgbai tab">
    <span class="col-xs-6 item cur">
        <a>未提交</a>
    </span>
    <span class="col-xs-6 item">
        <a>已提交</a>
    </span>
</div>
<div class="content">
    <div class="w exam_con lists">
    </div>
    <div class="w exam_con lists">
    </div>
</div>
<script src="~/Areas/Wap/Views/poll/index.js"></script>