@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Models.Strudents.StudentPageViewModel
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.Home; //The menu item will be active for this page.
}


<div class="index_con">
    <div class="index_section bgyanh">
        <h3>我的阅卷</h3>
        <ul>
            <li><a href="">C语言入门考试</a></li>
            <li><a href="">阅读试卷A考场</a></li>
            <li><a href="">阅读试卷1</a></li>
            <li><a href="">阅读试卷2</a></li>
            <li><a href="">阅读试卷3</a></li>
        </ul>
    </div>
    <div class="index_section bgju">
        <h3>我的审核</h3>
        <ul>
            <li><a href="">C语言入门考试</a></li>
            <li><a href="">阅读试卷A考场</a></li>
            <li><a href="">审核阅读试卷1</a></li>
            <li><a href="">审核阅读试卷2</a></li>
            <li><a href="">审核阅读试卷3</a></li>
        </ul>
    </div>
    <div class="index_section bg8">
        <h3>我的通知</h3>
        <div>暂无内容</div>
    </div>
</div>

</div>