@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@using ColleageInnerTraining.Common;
@using ColleageInnerTraining.Common.Utils;
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.Coursees;
    ViewBag.MenuId = PageNames.ManagemnetKey.Coursees;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })
<div class="Container w">
    <div class="content fr">
        <div class="rightTop">
            <p>课程管理</p>
            <ul class="subnav">
                <li>
                    <a class="btn btn_yanhse" href="/Admin/Course/Index">返回</a>
                </li>
            </ul>
        </div>
        <div id="dataListDiv">
            <img id="qrcode" src="@Url.Action("CreateQrCode")?courseId=@ViewBag.CourseId" />
        </div>
    </div>
    <div class="clearfix"></div>
</div>


