@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.ExamList; //The menu item will be active for this page.
    ViewBag.MenuId = PageNames.ManagemnetKey.Exam;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })


<div class="portlet light">
    @* 通用搜索功能 *@
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="MenusTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                        <span class="input-group-btn">
                            <button id="GetMenusButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="portlet-body">
        <div id="MenusTable"></div>
    </div>
</div>
<script src="~/Areas/Admin/Views/FileResources/index.js"></script>