@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Admin.Models.ExamViewModel
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.ExamList; //The menu item will be active for this page.
    ViewBag.MenuId = PageNames.ManagemnetKey.Exam;
}
<script src="~/Areas/Admin/Views/ExamList/index.js"></script>
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })
<div class="content fr"> 
       
    <div class="title_btn fl w90">
        <ul>
            <li>
                <input id="imageFile" type="file"  class="btn btn_yanhse mr45 fl" title="上传试题" value="上传试题" />
            </li>
        </ul>
            
        </div>
        <div class="title_btn fl w100">
            <div class="fl">
                <label class="fl f14 l28">题型：</label>
                <select id="type" class="form-control w160 fl">
                    <option  value="">请选择</option>
                    <option value="SINGLE">单选题</option>
                    <option value="MULTI">多选题</option>
                    <option value="INDEF">判断题</option>
                    <option value="BLANK">填空题</option>
                    <option value="ESSAY">问答题</option>
                </select>
                <label class="fl f14 l28 mf30">题目：</label>

                <input id="content" type="text" class="form-control w160 fl">
                <label class="fl f14 l28 mf30">状态：</label>
                <select id="enabled" class="form-control w160 fl">
                    <option  value="">请选择</option>
                    <option value="1">有效</option>
                    <option value="0">无效</option>
                </select>
                <label class="fl f14 l28 mf30">难度：</label>
                <select id="level" class="form-control w160 fl">
                    <option  value="">请选择</option>
                    <option value="EASY">简单</option>
                    <option value="MEDIUM">中等</option>
                    <option value="HARD">困难</option>
                </select>
                <label class="fl f14 l28 mf30">分类：</label>
                <input id="knowledgeId" type="hidden" readonly value=""/>
                <input id="knowledgeName" type="text" readonly value="" class="form-control w160 fl" />
                <a id="menuBtn" href="#" onclick="showMenu(); return false;" style="line-height:30px">选择</a>
                <div id="menuContent" class="menuContent" style="display:none; position: absolute; background:#ffffff;border:1px #000000 solid;">
                    <ul id="treeList" class="ztree" style="margin-top:0; width:160px;"></ul>
                </div>

                
            </div>
        </div>
    <div class="title_btn fl w100 mt20">
        <label class="fl f14 l28">部门：</label>
        <select id="departmentId" class="form-control w160 fl">
            <option value="">请选择</option>
            @for (int i = 0; i < Model.departs.Count; i++)
            {
                var dept = Model.departs[i];
                <option value="@dept.DepartmentId">@dept.DisplayName</option>

            }
        </select>

        <div class="fl">
            <input id="btnSearch" class="btn btn_yanhse fl mf30" type="button" value="搜索"> 
            <input id="templeDown" type="button" class="btn btn_yanhse fl mf30" title="下载模板" value="下载模板" /> 
            <input id="exportExam" type="button" class="btn btn_yanhse fl mf30" title="导出试题" value="导出试题" /> 

            <input id="deleteExam" type="button" class="btn btn_yanhse fl mf30" title="删除试题" value="删除试题" /> 

        </div>
    </div>
        <div style="margin-left:20px">
            <table id="questionTable" class="table_info">
                <tr>
                    <th  width="50" style="text-align:center"><input type="checkbox" id="checkAll" name="checkAll" value="0" /></th>
                    <th width="80" style="text-align:center">序号</th>
                    <th>题干</th>
                    <th class="col-xs-1">题型</th>
                    <th class="col-xs-1">难度</th>
                    <th class="col-xs-1">分类</th>
                </tr>
                <tbody id="Render_List"></tbody>
            </table>
            <div></div>
        </div>



    </div>

<script id="questions" type="text/html">
{{# if (d.data!=null){ }}
    {{# for(var i = 0, len = d.data.length; i < len; i++){ }}
    <tr>
        <td><input id="selected" name="selected" type="checkbox" class="selected" value="{{d.data[i].id}}" /></td>
        <td>{{d.data[i].id}}</td>
        <td class="text-left">{{d.data[i].content}}</td>
        <td>{{d.data[i].typeName}}</td>
        <td>{{d.data[i].levelName}}</td>
        <td>{{d.data[i].knowledgeName}}</td>
    </tr>
    {{# } }}
    
    <tr>
        <td colspan="6"> 
         <div class="page-foot" id="pager">
            
         </div>
        </td>
    </tr>
    {{# }}}
</script>