@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Wap.Models.ExamViewModel
@{
    ViewBag.CurrentPageName = PageNames.Wap.Member; //页面路径
}


<div class="w exam_nav bgbai tab">
    <span class="col-xs-4 item cur">
        <a>课程收藏</a>
    </span>
    <span class="col-xs-4 item">
        <a>线下培训</a>
    </span>
    <span class="col-xs-4 item">
        <a>知识点</a>
    </span>

</div>
<div class="content">
    <div class="w exam_con lists">

    </div>

    <div class="w exam_con lists">

    </div>

    <div class="w exam_con lists">

    </div>
</div>
<script src="~/Areas/Wap/Views/Member/Collection.js"></script>
