@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Wap.Models.ExamViewModel
@{
    ViewBag.CurrentPageName = PageNames.Wap.MyTrain; //页面路径
}


<div class="w exam_nav bgbai tab">
    <span class="col-xs-4 item cur">
        <a>已报名</a>
    </span>
    <span class="col-xs-4 item">
        <a>学习中</a>
    </span>
    <span class="col-xs-4 item">
        <a>已完成</a>
    </span>

</div>
<div class="content">
    <div class="w exam_con lists">

    </div>

    <div class="w exam_con lists">

    </div>

    <div class="w exam_con lists">

    </div>
</div>
<script src="~/Areas/Wap/Views/Member/Training.js"></script>