<ul class="user_ul bgbai wpd94">
    <form>
        <li class="head_li">
            头像
            <div class="head_img">
                <img src="~/images/wapimgs/xiaolizi.jpg" />
            </div>

        </li>
        <li class="update_a">
            <a href="/Wap/Member/UserPwd">
                修改密码<input name="password" type="password" value="" placeholder="" />
            </a>
        </li>
        <li class="update_a">
            <a href="">
                安全手机<input name="" type="text" value="" placeholder="187*******6" />
            </a>
        </li>

        <li class="update_a">
            <a href="/Wap/Account/LogOut">
                退出
            </a>
        </li>

    </form>
</ul>
