@using Abp.Timing
<!-- BEGIN FOOTER -->
<div class="footer bghui">
    <div class="copyer w f14 c66">
        <p>国资商城 　©COPYRIGHT 2017　<span>滇ICP备15003101号-2</span></p>
        <p>地址：云南省昆明市西山区滇池度假区静海园55幢</p>
        <p>客服电话：400 188 0871     企业邮箱：service@gznb.com</p>
    </div>
</div>
<!-- END FOOTER -->