@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Admin.Models.PollViewModel
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.Poll; //The menu item will be active for this page.
    ViewBag.MenuId = PageNames.ManagemnetKey.Poll;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })

<div class="content fr">
    <div class="title_btn fl w100">
        <div class="fl">
            <label class="fl f14 l28 mf30">名称：</label>

            <input id="name" type="text" class="form-control w160 fl">
            <label class="fl f14 l28 mf30">状态：</label>
            <select id="enabled" class="form-control w160 fl">
                <option value="">请选择</option>
                <option value="1">有效</option>
                <option value="0">无效</option>
            </select>
            <label class="fl f14 l28 mf30">状态：</label>

            <label class="fl f14 l28 mf30">部门：</label>
            <select id="departmentId" class="form-control w160 fl">
                <option value="">请选择</option>
                @for (int i = 0; i < Model.departs.Count; i++)
            {
                var dept = Model.departs[i];
                    <option value="@dept.DepartmentId">@dept.DisplayName</option>

                }
            </select>
        </div>
    </div>
    <div class="title_btn fl w100 mt20">


        <div class="fl">
            <input id="btnSearch" class="btn btn_yanhse fl mf30" type="button" value="搜索">
            <a class="btn btn_yanhse fl mf30" href="CreatePoll">新增问卷</a>
        </div>
    </div>
    <div style="margin-left:20px">
        <table id="questionTable" class="table_info">
            <tr>
                <th width="50" style="text-align:center"><input type="checkbox" id="checkAll" name="checkAll" value="0" /></th>
                <th width="80" style="text-align:center">序号</th>
                <th width="120">问卷名称</th>
                <th  width="140">描述</th>
                <th width="80">是否有效</th>
                <th style="text-align:center" width="100">更新人</th>
                <th style="text-align:center" width="130">更新时间</th>
                <th style="text-align:center" width="">操作</th>
            </tr>
            <tbody id="Render_List"></tbody>
        </table>
        <div></div>
    </div>



</div>

<script id="questions" type="text/html">
    {{# if (d.data!=null){ }}
    {{# for(var i = 0, len = d.data.length; i < len; i++){ }}
    <tr>
        <td><input id="selected" name="selected" type="checkbox" class="selected" value="{{d.data[i].id}}" /></td>
        <td>{{d.data[i].id}}</td>
        <td class="text-left">{{d.data[i].name}}</td>
        <td class="text-left">{{d.data[i].description}}</td>
        <td>
            {{# if(d.data[i].enabled){ }}
            是
            {{# } else{ }}
            否
            {{# } }}
        </td>
        <td>{{d.data[i].updaterName}}</td>
        <td >
            {{d.data[i].updateTime}}
        </td>
        <td class="text-left">
            <a href="QuestionPoll?PollId={{d.data[i].id}}">问题管理</a>
            <a href="SetRetion?PollId={{d.data[i].id}}">配置必填关联</a>
            <a href="SetUsers?PollId={{d.data[i].id}}">配置人员关联</a>
            <a href="EditPoll?pollId={{d.data[i].id}}">编辑</a>
            <a href="#" class="deletePoll" title="{{d.data[i].id}}">删除</a>
        </td>
    </tr>
    {{# } }}

    <tr>
        <td colspan="8">
            <div class="page-foot" id="pager">

            </div>
        </td>
    </tr>
    {{# }}}
</script>



<script src="~/Areas/Admin/Views/Poll/index.js"></script>