
@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Admin.Models.PollViewModel
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.Poll; //The menu item will be active for this page.
    ViewBag.MenuId = PageNames.ManagemnetKey.Poll;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })
<script type="text/javascript">

    var pollId = @Model.PollId;

</script>
<div class="content fr">

    <div class="title_btn fl w100">
        <div class="fl">
            <a class="btn btn_yanhse fl mf30" href="javascript:window.history.back();">返回</a>
            <label class="fl f14 l28 mf30">问卷名称：</label>
            <label id="pollName" class="fl f14 l28 mf30"></label>
            <label class="fl f14 l28 mf30">姓名：</label>
            <input id="UserName" type="text" class="form-control w160 fl">
            <label class="fl f14 l28 mf30">手机：</label>
            <input id="mobile" type="text" class="form-control w160 fl">
            <label class="fl f14 l28 mf30">邮箱：</label>
            <input id="email" type="text" class="form-control w160 fl">
        </div>
    </div>
        <div class="title_btn fl w100 mt20">
            <div class="fl">
                <input id="btnSearch" class="btn btn_yanhse fl mf30" type="button" value="搜索">
                <a class="btn btn_yanhse fl mf30" href="addUsers?pollId=@Model.PollId">新增人员必填关系</a>
            </div>
        </div>
    <div style="margin-left:20px">
        <table id="questionTable" class="table_info">
            <tr>
                <th width="80" class="text-center">序号</th>
                <th width="180" class="text-center">员工姓名</th>
                <th width="180" class="text-center">是否提交</th>
                <th class="text-center">操作</th>

            </tr>
            <tbody id="Render_List"></tbody>
        </table>
        <div></div>
    </div>
</div>

<script id="questions" type="text/html">
    {{# if (d.data!=null){ }}
    {{# for(var i = 0, len = d.data.length; i < len; i++){ }}
    <tr>
        <td>{{d.data[i].pollId}}</td>
        <td>
            {{d.data[i].username}}
        </td>
        <td>
           {{# if(d.data[i].polled){ }}
            已提交
            {{# } else{ }}
            未提交
            {{# } }} 
        </td>
        <td>
            <a id="deleteExamUser" class="deleteExamUser" href="#" title="{{d.data[i].pollId}},{{d.data[i].userId}}">删除</a>
        </td>
    </tr>
    {{# } }}

    <tr>
        <td colspan="4">
            <div class="page-foot" id="pager">

            </div>
        </td>
    </tr>
    {{# }}}
</script>
<script src="~/Areas/Admin/Views/Poll/SetUsers.js"></script>