@model List<ColleageInnerTraining.Application.Dtos.TagetListDto>
<ul>
    @foreach (var item in Model)
            {
        <li>
            <div class="tagetnamediv">
                <input type="text" class="tagetnametxt none" id="@item.Id" value="@item.Name" />
                <p>@item.Name</p>
            </div>
            <div class="adiv">
                <a class="yanhse">修改</a> |
                <a class="lanse">删除</a>
            </div>
        </li>
    }
</ul>
<style>
    #dataListDiv li {
        float: left;
        margin: 10px 10px 0;
    }

    .adiv {
        width: 130px;
        height: 20px;
        text-align: center;
    }

    .tagetnamediv {
        background-color: cornflowerblue;
        color: white;
        text-align: center;
        border: 0px;
        border-radius: 3px;
        width: 130px;
        height: 40px;
        line-height: 40px;
    }

    .tagetnametxt {
        width: 100px;
        height: 20px;
        color: black;
        border: 0px;
        text-align: center;
        border-radius: 2px;
    }

    .none {
        display: none;
    }

    li .yanhse, .lanse {
        cursor: pointer;
    }
</style>
