@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@using ColleageInnerTraining.Common;
@using ColleageInnerTraining.Common.Utils;
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.Teacher;
    ViewBag.MenuId = PageNames.ManagemnetKey.Teacher;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })
<div class="Container w">
    <div class="content fr">
        <div class="rightTop">
            <p>课程管理</p>
            <ul class="subnav">
                <li>
                    <a class="btn btn_yanhse" href="/Admin/TeacherUser/Index">管理</a>
                </li>
            </ul>
        </div>

        <div id="dataListDiv">
            @Html.Action("GetTeacherDataList")
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<script src="~/Areas/Admin/Views/TeacherUser/Index.js"></script>