
@using Abp.Web.Mvc.Extensions
@using ColleageInnerTraining.Web.Navigation
@model ColleageInnerTraining.Web.Areas.Admin.Models.ExamViewModel
@{
    ViewBag.CurrentPageName = PageNames.Managemnet.ExamPaper; //The menu item will be active for this page.
    ViewBag.MenuId = PageNames.ManagemnetKey.Exam;
}
@Html.Action("Left", "Layout", new { currentPageName = ViewBag.CurrentPageName, menuId = ViewBag.MenuId })
<script type="text/javascript">

    var paperId = @Model.PaperId;

</script>
<div class="content fr">
    <div class="title_btn fl w100">
        <div class="fl">
            <a class="btn btn_yanhse fl mf30" href="EditExamPaper?paperId=@Model.PaperId">编辑试卷</a>
            <a class="btn btn_yanhse fl mf30" href="javascript:window.history.back();">返回</a>
        </div>
    </div>
    <form>
        <ul class="content_form">

            <li>
                <label>试卷名称：</label>
                <input id="paperName" name="paperName"  type="text" class="form-control w400 fl">
            </li>
            <li>
                <label>	描述：</label>
                <textarea id="paperDescription" name="paperDescription" type="text" class="form-control w400 fl"></textarea>
            </li>
            <li>
                <label>出题模式：</label>
                <select id="paperPattern" class="form-control">
                    <option value="FIXED_HAND">固定试题（手工）</option>
                    <option value="FIXED_RANDOM">固定试题（随机）</option>
                </select>
            </li>
        </ul>

        <div class="clearfix"></div>
        <div class="h20"></div>
        <button type="button" id="formSave" class="btn btn_yanhse mf120 fl">保存</button>
        <button type="button" id="formSubmit" class="btn btn_yanhse mf50 fl" style="display:none">提交审核</button>
        <button type="button" id="formReset" class="btn btn_yanhse mf50 fl">取消</button>
    </form>
 </div>

    <script src="~/Areas/Admin/Views/ExamPaper/EditExamPaper.js"></script>
